<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="/socket.io/socket.io.js"></script>
  <script src="/library/socket.io-stream.js"></script>
  <script src="/jszip/jszip.min.js"></script>
  <script src="/jszip/jszip-utils.min.js"></script>
  <script src="/javascripts/socket.js"></script>
</head>
<body>
<div id="UploadBox">
  <div>
    <h2>대용량 파일 업로드/다운로드(압축)</h2>
    <span id='UploadArea'>
        <label for="FileBox">Choose A File: </label><input type="file" id="FileBox"><br>
        <label for="NameBox">Name: </label><input type="text" id="NameBox"><br>
        <button type='button' id='UploadButton' class='Button'>Upload</button>
   </span>
    <span id="percent"></span>
  </div>
  <br>
  <div>
    <button id="download">다운로드</button>
    <br>
    <span id="download_percent"></span>
    <br>
    <span id="zip_percent"></span>
  </div>
</div>
</body>
</html>
